[MASTER]
extension-pkg-whitelist=numpy,torch,transformers,scipy,HARE

[TYPECHECK]
ignored-modules=numpy,torch,transformers,scipy,HARE
ignored-classes=numpy,torch,transformers,scipy,HARE
generated-members=numpy.*,torch.*

[DESIGN]
max-attributes=15
max-args = 10
# Maximum number of locals for function / method body
max-locals=25
max-line-length=210
