[MASTER]
extension-pkg-whitelist=numpy,torch,transformers,scipy

[TYPECHECK]
ignored-modules=numpy,torch,transformers,scipy
ignored-classes=numpy,torch,transformers,scipy

[DESIGN]
max-attributes=15
max-args = 10
# Maximum number of locals for function / method body
max-locals=25
max-line-length=210
